<header>
    <nav>
        <ul>
            <li class="uppercase"><strong>chat</strong></li>
        </ul>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </nav>
    <img src="{{ asset('images/chat.jpg') }}" alt="le chat" class="img-fluid mx-auto center" />
</header>